<div>
  <%= link_to("logout #{User.find_by(id: session[:user_id]).first_name}", "/session", method: "delete") unless session[:user_id].nil? %>
</div>
<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close exit" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Signup For /Heatmapr/</h4>
      </div>
      <div class="modal-body">
        <form class="joinForm">
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default exit" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary exit signup">Signup</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close exit" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Login to /Heatmapr/</h4>
      </div>
      <div class="modal-body">
        <form class="loginForm">
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default exit" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary exit signup">Login</button>
      </div>
    </div>
  </div>
</div>

<div id="panel">
  <button onclick="toggleHeatmap()">Toggle Heatmap</button>
  <button onclick="changeGradient()">Change gradient</button>
  <button onclick="changeRadius()">Change radius</button>
  <button onclick="changeOpacity()">Change opacity</button>
</div>