/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 div.header {
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 55px;
  
 }

 .logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -62.5px;
 }

 div.header-left {
  display: inline;
  float: left;
  margin-left: 50px;
  margin-top: 15px;
 }

  div.header-right {
  display: inline;
  float: right;
  margin-right: 50px;
  margin-top: 15px;
 }

 .header-left ul{
  display: inline;
 }

 .header-right ul{
  display: inline;
 }

.header-left li {
  display: inline;
  padding: 5px 20px;
  color: #fff;
  font-size: 1.3em;
  font-family: helvetica, sans-serif;
 }

 .header-right li {
  display: inline;
  padding: 5px 20px;
  color: #fff;
  font-size: 1.3em;
  font-family: helvetica, sans-serif;
 }

 li a {
  color: #fff;
 }

 #bodyContent span {
  color: #f42900;
 }

 #bodyContent strong {
  font-size: 1.2em;
 }

 #sales {
  cursor:pointer;
 }

 #rentals {
  cursor:pointer;
 }

 #home {
  cursor:pointer;
 }

li a:hover {
  text-decoration: none;
  color: #ff0000;
}

