<!DOCTYPE html>
<html>
<head>
  <title>Heatmap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map-canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuBuX_AMRAwh8uNwS614-_3xgNqpR9mwc&sensor=false">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(40.744, -73.968),
          zoom: 13
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>

  <div class="header">
    <img src="/assets/logo.png">
    <header>
      <div class="header-left">
          <ul>
            <li>Home</li>
            <li>Sales</li>
            <li>Rentals</li>
          </ul>
      </div>
      <div class="header-right">
          <ul>
            <li>Login</li>
            <li>Signup</li>
            <li>Contact Us</li>
          </ul>
      </div>
    </header>
  </div>

<%= yield %>
<div id="map-canvas" />
</body>
</html>
