<!DOCTYPE html>
<html>
<head>
  <title>Heatmap</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" type="text/css" href="assets/maps.css">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuBuX_AMRAwh8uNwS614-_3xgNqpR9mwc&sensor=false&v=3.exp&sensor=false&libraries=visualization,places">
    </script>
</head>
<body>
  <div class="header">
    <img class="logo" src="/assets/logo.png">
    <header>
      <div class="header-left">
          <ul>
            <li><a>Home</a></li>
            <li><a id="sales">Sales</a></li>
            <li class="rentals"><a id="rentals">Rentals</a></li>
          </ul>
      </div>
      <div class="header-right">
          <ul>
            <li><a href="#loginModal" data-toggle="modal" class="loginButton">Login</a></li>
            <li><a href="#signupModal" data-toggle="modal" class="joinButton">Signup</a></li> 
            <li>Contact Us</li>
          </ul>
      </div>
    </header>
  </div>

<%= yield %>
  <input id="pac-input" class="controls" type="text" placeholder="Search Box">
  <div id="map-canvas" />
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script type="text/javascript" src="assets/maps.js"></script>
  <script type="text/javascript" src="assets/signup.js"></script>
  <script type="text/javascript" src="assets/login.js"></script>
</body>
</html>
